/*
 * name: Kai Black
 * email: blackkai@oregonstate.edu
*/

.site-title {
    font-family: "Roboto Slab", serif;
    font-size: 72px;
}

.site-title a {
    text-decoration: none;
}

.content {
    font-family: "Roboto", serif;
}

