/*
 * name: Kai Black
 * email: blackkai@oregonstate.edu
*/

header {
    background-color: black;
    display: flex;
    align-items: left;
    height: 150px;
}

.site-title {
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 72px;
}

.site-title a {
    text-decoration: none;
}

.site-title a:visited {
    color: white;
}

.site-title a:active {
    color: white;
}

.content {
    font-family: "Roboto", serif;
    margin-left: 220px;
}

.filter-container {
    position: absolute;
    top: 150;
    left: 0;
    width: 190px;
    height: 350px;
    background-color: #f1f1f1;
    padding: 20px;
}


